{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/user.html' as account %}
{% import 'macros/tables.html' as tables %}


{% block title %}
Admin - Teams / List
{% endblock %}


{% block body %}

<div class="main">
    <div class="card">
        <div class="card-body">

            <div class="c_header">
                <button class="btn btn-sm btn-outline-dark d-inline"
                            onclick="window.history.back()"    
                        >Go Back</button>
                <a href="/team/add" class="btn btn-sm btn-outline-danger">Add a Team</a>
            </div>

<!-- Search form -->
{{ f.search('admin.teams') }}

<!-- Case where there are no records -->
{% if teams.total == 0 %}
    <h2>No results found</h2>

    <!-- If a search term was supplied, show message to suggest to re-try serach -->
    {% if request.args.get('q') %}
        <p>Try limiting or removing your search terms.</p>

    <!-- No teams are in system, show sign-up message-->
    {% else %}
        <p>There are no teams present.</p>

    {% endif %}

<!-- Render table -->
{% else %}
    <h2>All Teams ({{ count }})</h2>
    
        <!-- Save search term -->
        <input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">
        
        <div class="table-responsive">
            <table class="table text-center table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Added on</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in teams.items %}
                        <tr>
                            <td>{{ t.created_on }}</td>
                            <td>{{ t.name }}</td>
                            <td>{{ t.country.name }}</td>
                            <td><a href="#" class="btn btn-sm btn-light">Edit</a></td>
                            <td><a href="#" class="btn btn-sm btn-danger">Delete</a></td>
                        </tr>
                    {% endfor %}
                    
                    
                </tbody>

            </table>
        </div>


    <!-- Pagination -->
    <center>
        <a class="btn btn-sm btn-dark {% if not teams.has_prev %} disabled {% endif %}"
            href="/team/page/{{ teams.page - 1 }}">Prev</a>
        <a class="btn btn-sm btn-dark" href="/team/page/{{teams.page}}"
            >{{ teams.page }}</a>
        <a class="btn btn-sm btn-dark {% if not teams.has_next %} disabled {% endif %}"
            href="/team/page/{{ teams.page + 1 }}">Next</a>
    </center>

{% endif %}

</div>
</div>
</div>
{% endblock %}
