{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/user.html' as account %}
{% import 'macros/tables.html' as tables %}


{% block title %}
Admin - Tournaments / List
{% endblock %}


{% block body %}
<div class="main">
    <div class="card">
        <div class="card-body">

    <!-- flash message -->
{% include "layouts/_flash.html" %}    

<div class="c_header">
    <button class="btn btn-sm btn-outline-dark d-inline"
                onclick="window.history.back()"    
            >Go Back</button>
    <a href="{{ url_for('admin.add_tournament') }}" class="btn btn-sm btn-outline-danger">Add Tournament</a>
</div>

<!-- Search form -->
{{ f.search('admin.tournaments') }}

<!-- Case where there are no records -->
{% if tournaments.total == 0 %}
    <h2>No results found</h2>

    <!-- If a search term was supplied, show message to suggest to re-try serach -->
    {% if request.args.get('q') %}
        <p>Try limiting or removing your search terms.</p>

    <!-- No tournaments are in system, show sign-up message-->
    {% else %}
        <p>There are no tournaments present.</p>

    {% endif %}

<!-- Render table -->
{% else %}
    <center>
        <h3 style="margin: 10px auto;">All Tournaments ({{ count }})</h3>
    </center>
    
        <!-- Save search term -->
        <input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">
    
        <table class="table table-responsive table-hover text-center table-bordered">
            <thead>
                <tr>
                    <th>Added on</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tournaments.items %}
                    <tr>
                        <td>{{ t.created_on }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.start_date }}</td>
                        <td>{{ t.end_date }}</td>
                        <td><a href="{{ url_for('admin.tournaments_edit',
                                id=t.id) }}" 
                            class="btn btn-sm btn-light">Edit</a></td>
                        <td><a href="{{ url_for('admin.delete_tournament', id=t.id) }}"
                            class="btn btn-sm btn-danger">Delete</a></td>
                    </tr>
                {% endfor %}
                
                
            </tbody>

        </table>

    <!-- Deals with pages -->
    <!-- Pagination -->
    <center>
        <a class="btn btn-sm btn-dark {% if not tournaments.has_prev %} disabled {% endif %}"
            href="/tournament/page/{{ tournaments.page - 1 }}">Prev</a>
        <a class="btn btn-sm btn-dark" href="/tournament/page/{{tournaments.page}}"
            >{{ tournaments.page }}</a>
        <a class="btn btn-sm btn-dark {% if not tournaments.has_next %} disabled {% endif %}"
            href="/tournament/page/{{ tournaments.page + 1 }}">Next</a>
    </center>

{% endif %}


</div>
</div>
</div>
{% endblock %}
