{% extends 'layouts/app.html' %}
{% import 'macros/items.html' as items %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/user.html' as account %}
{% import 'macros/tables.html' as tables %}


{% block title %}
Admin - Countries / List
{% endblock %}


{% block body %}
<div class="main">
    <div class="card">
        <div class="card-body">

<!-- flash message -->
{% include "layouts/_flash.html" %}        

<!-- Search form -->
<div class="c_header">
    <button class="btn btn-sm btn-outline-dark d-inline"
                onclick="window.history.back()"    
            >Go Back</button>
    <a href="/country/add" class="btn btn-sm btn-outline-danger">Add Country</a>
</div>
{{ f.search('admin.countries') }}

<!-- Case where there are no records -->
{% if countries.total == 0 %}
    <h2>No results found</h2>

    <!-- If a search term was supplied, show message to suggest to re-try serach -->
    {% if request.args.get('q') %}
        <p>Try limiting or removing your search terms.</p>

    <!-- No countries are in system, show sign-up message-->
    {% else %}
        <p>There are no countries present.</p>

    {% endif %}

<!-- Render table -->
{% else %}
            <center>
                <h3 style="margin: 10px auto;">All Countries ({{ count }})</h3>
            </center>

    <!-- 'admin.countries_bulk_delete' -->
    
        <!-- Save search term -->
        <input type="hidden" id="q" name="q" value="{{ request.args.get('q') }}">
        
        <table class="table table-responsive table-hover text-center table-bordered">
            <thead>
                <tr>
                    <th>Created on</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for country in countries.items %}
                        <tr>
                            <td>{{ country.created_on }}</td>
                            <td>{{ country.name }}</td>
                            <td><a href="country/edit/{{country.id}}" 
                                class="btn btn-sm btn-light">Edit</a></td>
                            <td><a href="country/delete/{{country.id}}" 
                                class="btn btn-sm btn-danger">Delete</a></td>
                        </tr>
                {% endfor %}
                
            </tbody>

        </table>
        


    <!-- Deals with pages -->
    <!-- jinja2 items.paginate(countries)  -->

    <!-- Pagination -->
    <center>
        <a class="btn btn-sm btn-dark {% if not countries.has_prev %} disabled {% endif %}"
            href="/country/page/{{ countries.page - 1 }}">Prev</a>
        <a class="btn btn-sm btn-dark" href="/country/page/{{countries.page}}"
            >{{ countries.page }}</a>
        <a class="btn btn-sm btn-dark {% if not countries.has_next %} disabled {% endif %}"
            href="/country/page/{{ countries.page + 1 }}">Next</a>
        
    </center>
        
    
    
    

{% endif %}

</div>
</div>
</div>
{% endblock %}
