{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/items.html' as items %}
{% import 'macros/tables.html' as tables %}


{% block title %}
Admin - Countries / Update
{% endblock %}


{% block body %}

<!-- Link to user-viewed page -->
<a href="{{ url_for('video.country_to_matches', query=country.name)}}">
    <h2>{{ country.name }}</h2>
</a>

{% call f.form_tag(endpoint='admin.countries_edit', **{'id': country.id}) %}
    
    {% call f.form_group(form.teams) %}
    {% endcall %}

    <br>
    {% call f.form_group(form.name) %}
    {% endcall %}
    
    <!-- Button for POST request -->
    <br>
    <button type="submit">Save</button>

    <!-- Cancel link -->
    <br><br>
    <a href="{{ url_for('admin.countries') }}">Cancel</a>

{% endcall %}

<hr>

<h3>Details</h3>

<!-- Created on -->
<label>Created on</label>
<br>&nbsp;&nbsp;&nbsp;
<time class="from-now" data-datetime="{{ country.created_on }}">
    {{ country.created_on }}
</time>

<!-- Last updated -->
<br><br>
<label>Last Updated</label>
<br>&nbsp;&nbsp;&nbsp;
<time class="from-now" data-datetime="{{ country.updated_on }}">
    {{ country.updated_on }}
</time>

<hr>

<h3>Teams</h3>

{{ 
    tables.simple_table(
        table=country.teams,
        edit_endpoint='admin.teams_edit'
    )
}}

<hr>

<h3>Videos</h3>

{{
    tables.simple_table(
        table=all_videos,
        edit_endpoint='admin.videos_edit',
        show_added_date=True
    )
}}
    
{% endblock %}
