{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}


{% block title %}
Update your sign in information
{% endblock %}


{% block body %}

{% call f.form_tag('user.update_credentials') %}

    <h2>Update your sign in information</h2>

    <br>
    <p>Supply your current password to make any changes.</p>

    <br>
    {% call f.form_group(form.current_password, autofocus='autofocus') %}
    {% endcall %}

    <br><br>
    {% call f.form_group(form.email) %}
    {% endcall %}

    <br><br>
    {% call f.form_group(form.password, placeholder='New password (optional)') %}
    {% endcall %}

    <br><br>
    <button type="submit">Save</button>

    <br><br>
    <a href="{{ url_for('user.settings') }}">Cancel</a>

{% endcall %}

{% endblock %}
